<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%=@foodtrucker.username%> est connecté!</h2>
    <br />
    <h2>Vous pouvez commander dès maintenant</h2>
    <br />
    <h2>A bientôt!</h2>
  </body>
</html>