<div class="panel panel-default">
<table class="table">
	<tr>
		<th></th>
		<th></th>
	</tr>
	<% @foodtrucker.each do |f| %>
	<tr>
		<td><p>   <b><%= f.username.capitalize %></b>    </p></td>
		<td><%= link_to "Page du foodtrucker", showfoodtrucker_path(f), :class => "btn btn-theme-bg btn-md" %></td>
	</tr>
	<% end %>
</table>
</div>

<div style='width: 100%;'>
  <div id="one_marker" style='width: 100%; height: 400px;'></div>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'one_marker'}}, function(){

	var json_array = <%=raw @hash.to_json %>

		var markers = handler.addMarkers(json_array);

				_.each(json_array, function(json, index){
						json.marker = markers[index];
						});

						handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
						handler.getMap().setZoom(14);
});
</script>
