<table>
	<tr>
		<th>Le nom du food truck</th>
		<th>Code Postal   </th>
		<th>     Adresse</th>
	</tr>
	<% @foodtrucker.each do |f| %>
	<tr>
		<td><%= f.username %></td>
		<td><%= f.postalcode %></td>
		<td><%= f.streetadresses.where(actual: true).last.address %></td>
	</tr>
	<% end %>
</table>


<div style='width: 800px;'>
  <div id="one_marker" style='width: 800px; height: 400px;'></div>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'one_marker'}}, function(){

	var json_array = <%=raw @hash.to_json %>

		var markers = handler.addMarkers(json_array);

				_.each(json_array, function(json, index){
						json.marker = markers[index];
						});

						handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
						handler.getMap().setZoom(14);
});
</script>
