        <!--footer light 2 begin-->
        <footer class="footer-light-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 margin30">
                        <h3>A Propos</h3>
                        <p>Projet final THP. <br/>Adrien Matthieu Pierre Tina</p>
                    </div><!--col-->
                    <div class="col-md-3 col-sm-6 margin30">
                      <h3>Derniers ajouts</h3>
                      <% @dish.last(4).each do |f| %>
                      <ul class="list-unstyled footer-news">
                          <li>
                              <%= f.name %>
                          </li>
                      </ul>
                      <% end %>
                      </div><!--col-->
                      <div class="col-md-3 col-sm-6 margin30">
                        <h3>Derniers Trucks Inscris</h3>
                        <% @foodtruckers.last(4).each do |f| %>
                        <ul class="list-unstyled footer-news">
                            <li>
                                <%= link_to f.username,showfoodtrucker_path(f) %>
                            </li>
                        </ul>
                        <% end %>

                    </div><!--col-->
                      <div class="col-md-3 col-sm-6 margin30">
                        <h3>Nous contacter</h3>
                        <div class="find-us">
                            <p>
                           Strasbourg 67000 FRANCE
                        </p>
                        <p>
                            info@findyourtruck.com
                        </p>
                        </div>

                    </div><!--col-->
                </div><!--row-->
            </div><!--main footer-->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                         <div class="col-sm-8 col-sm-offset-2 text-center">
                             <h3>  <a href="#"><img src="img/logo.png" alt=""></a></h3>
                            <ul class="list-inline footer-social">
                                <li>
                                    <a href="https://www.facebook.com/Find-Your-Truck-2025042367754486/" class="social-icon-sm si-dark si-gray-round si-colored-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/PierreOssun" class="social-icon-sm si-dark si-gray-round si-colored-twitter">
                                        <i class="fa fa-twitter"></i>
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                             <p>Made in Strasbourg. 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->
