        <!--footer light 2 begin-->
        <footer class="footer-light-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 margin30">
                        <h3>A Propos</h3>
                        <p>
                            Projet final THP. Adrien Matthieu Pierre Tina
                        </p>

                    </div><!--col-->
                      <div class="col-md-3 col-sm-6 margin30">
                        <h3>Photo recentes</h3>
                        <div class="footer-work">
                            <a href="#">
                                <img src="img/img-1.jpg" alt="" class="img-responsive">
                            </a>
                            <a href="#">
                                <img src="img/img-2.jpg" alt="" class="img-responsive">
                            </a>
                            <a href="#">
                                <img src="img/img-3.jpg" alt="" class="img-responsive">
                            </a>
                            <a href="#">
                                <img src="img/img-4.jpg" alt="" class="img-responsive">
                            </a>
                            <a href="#">
                                <img src="img/img-5.jpg" alt="" class="img-responsive">
                            </a>
                            <a href="#">
                                <img src="img/img-6.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--col-->
                      <div class="col-md-3 col-sm-6 margin30">
                        <h3>Derniers Trucks Inscris</h3>
                        <ul class="list-unstyled footer-news">
                            <li>
                                <a href="#">Truck.last</a>
                            </li>
                             <li>
                                <a href="#">Truck.last</a>
                            </li>
                             <li>
                                <a href="#">Truck.last</a>
                            </li>
                             <li>
                                <a href="#">Truck.last</a>
                            </li>
                        </ul>

                    </div><!--col-->
                      <div class="col-md-3 col-sm-6 margin30">
                        <h3>Nous contacter</h3>
                        <div class="find-us">
                            <p>
                           Strasbourg 67000 FRANCE
                        </p>
                        <p>
                            info@findyourtruck.com
                        </p>
                        </div>

                    </div><!--col-->
                </div><!--row-->
            </div><!--main footer-->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                         <div class="col-sm-8 col-sm-offset-2 text-center">
                             <h3>  <a href="#"><img src="img/logo.png" alt=""></a></h3>
                            <ul class="list-inline footer-social">
                                <li>
                                    <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon si-dark si-gray-round si-colored-twitter">
                                        <i class="fa fa-twitter"></i>
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                             <p>Made in Strasbourg. 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->
